<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>django</h1>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/blog">post</a></li>
                <li><a href="">sitemap</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="board">
            <h2>게시판 페이지 입니다.</h2>
            <ul>
                <li>
                    <span>글번호</span>
                    <span>글제목</span>
                </li>
            {% for post in postlist %}
                <li>
                    <span>{{post.id}}</span>
                    <span><a href="{{post.pk}}">{{post.postname}}</a></span>
                    <a href="/blog/{{post.pk}}/remove"  class="delbtn">삭제</a>
                </li>
            {% endfor %}
            </ul>
            <div class="btn">
                <button><a href="new_post/">글쓰기</a></button>
            </div>
        </div>
    </section>
    <footer>
        하단 입니다.
    </footer>
</body>
</html>