<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>django</h1>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/blog">post</a></li>
                <li><a href="">sitemap</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="board">
            <h2>글쓰기 페이지</h2>
            <!-- form태그 데이터를 서버로 전송할때 사용하는 태그 -->
            <form method="POST">
                <ul>
                    {%csrf_token%}
                    <!-- 사이트간 요청위조를 감지하는 토큰 -->
                    <li><span>제목</span> <input type="text" name="postname"/></li>
                    <li><span>내용</span> <textarea rows="10" cols="50" name="contents"></textarea></li>
                    <li><span>사진</span><input type="file" name="mainphoto"></li>
                </ul>
                <div class="btn">
                    <input type="submit" value="글쓰기" />
                </div>
            </form>
        </div>
    </section>
    <footer>
        하단 입니다.
    </footer>
</body>
</html>